{% extends 'base.html' %}
<title>{% block title %}Home{% endblock %}</title>

{% block content %}
<div>
<div class="container" style="border: 0px; background: transparent;">
    <div class="center-flex">
        {% if g.user %}
        <a href="{{ url_for('upload') }}"><input type="submit" value="Upload Image" class="button button1"/></a>
        {% else %}
        <div>
            <h2>Log in to continue</h2>
            <a href="{{ url_for('auth.login') }}"><input type="submit" value="Log In" class="button button1"/></a>
            {% endif %}
        </div>
    </div>
</div>
</div>
{% endblock %}